<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Ruby Lovers Admin Panel</a>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <% if administrator_signed_in? %>
          <li class="nav-item px-1">
            <span class="navbar-text">Logged in as: <%= current_administrator.email %></span>
          </li>
          <li class="nav-item active px-1">
            <%= link_to 'Log Out', destroy_administrator_session_path, method: :delete, 
              class:"nav-link btn btn-outline-secondary btn-inverse" %>
          </li>
        <% end %>
      </ul>
    </div>
</nav>
