<nav class="navbar navbar-expand-lg navbar-dark bg-danger mb-3">
  <div class="container">
    <a class="navbar-brand" href="#">Ruby Lovers Admin Panel</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav">
        <li class="nav-item">
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <% if administrator_signed_in? %>
          <li class="nav-item active px-1">
            <span class="navbar-text">Logged in as: <%= current_administrator.email %></span>
          </li>
          <li class="nav-item active px-1">
            <%= link_to 'Log Out', destroy_administrator_session_path, method: :delete, class:"nav-link btn btn-outline-dark btn-inverse" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
