<div class="payment-details">
<h4 class="mb-3 mt-3">Shipment details</h4>
  <li class="list-group-item d-flex justify-content-between lh-condensed payment-id">
    <div>
      <h6>Shipment id: </h6>
    </div>
    <span class="order-id text-muted"><%= shipment.id %></span>
  </li>  
  <li class="list-group-item d-flex justify-content-between lh-condensed payment-state">
    <div>
      <h6>State:</h6>
    </div>
    <%= shipment.state_badge %>
  </li>
  <li class="list-group-item d-flex justify-content-between lh-condensed payment-update">
    <div>
      <h6>Updated at:</h6>
    </div>
    <span class="text-muted"><%= shipment.updated_at.strftime("%Y-%m-%d %H:%M") %></span>
  </li>
  <li class="list-group-item d-flex justify-content-between lh-condensed payment-update payment-events">
    <div>
      <h6>Change state:</h6>
    </div>
    <div class="d-flex justify-content-between lh-condensed">
      <% shipment.events_buttons %>
    </div>
  </li>
</div>
