<h2>Products</h2>

<table class="table">
  <thead class="table-dark"></thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Category</th>
      <th scope="col">Brand</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
    <tr>
      <th scope="row"><%= product.name %></th>
      <td><%= product.price %></td>
      <td><%= product.category.name %></td>
      <td><%= product.brand.name %></td>
    </tr>
    <% end %>
  </tbody>
</table>